table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}
.input-group {
 	width:50%;
 	float:none;
 	margin:0 auto;
}
#dmTitle{
  font-family: 'Orbitron', sans-serif;
  font-size: 3.0em;
}
/*.dmbody{ //Attempt to format for printing
  width: 1140px;
}*/
.subTitle{
  font-style: italic;
}
.headerTitle{
  background-color: #007bff;
  font-size: 1.5em;
  color: white;
  margin-bottom: 10px;
  border-width: 3px;
  border-radius: 7px;
  border-style: solid;
  border-color: white;
  padding-left: 10px;
}
#dm_footer{
  background-color: #007bff;
  color: white;
  margin-bottom: 10px;
  border-width: 3px;
  border-radius: 7px;
  border-style: solid;
  border-color: white;
  padding-left: 10px;
  height: 42px;
}
#headerLogo{
  width:100px;
  height:100px;
  float: left;
}
#dmLogo{
  height:100px;
}
#datasets.selectpicker{
  width: 300px;
  height: 250px;
}
#savedPlots.selectpicker{
  width: 150px;
  height: 140px;
}
#plotButtons{
  text-align: center;
}
.plotBtn{
  width: 200px;
  margin: 10px;
}
.plotDataBtn{
  width: 200px;
  margin: 10px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.plotDataBtn:hover{
  width: 200px;
  margin: 10px;
  color: #007bff;
  background-color: #fff;
  border-color: #007bff;
}
#plotName{
  width: 200px;
  margin: 10px;
}
.datainput {
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}
#dataDiv{
  display:none;
}
.headerRow{
  background-color: #007bff;
  font-size: 1.2em;
  color: white;
  margin-bottom: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}
.filterHeaderRow{
  background-color: #007bff;
  font-size: 1.2em;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}
.odd{
  background-color: #8cc3ff;
}
.even{
  color: black;
}
.filterBox{
  margin: 10px 20px;
  height: 150px;
  min-width: 45px;
}
.experiment{
  width: 150px;
}
.active{
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 3px;
}
.clickSelect{
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 3px;
}
.buttonHeader{
  width:220px;
}
.expHeader{
  width:180px;
}

/* Used to float a child div to the bottom */
.parent{
  position: relative;
}
.child{
  position: absolute;
  bottom: 0;
}
